In [1]:
#1 Write a Program to interchange first and last elements in a list !
L1=["apple","banana","cherry","guava","grapes"]
L1[0]="guava"
L1[4]="apple"
L1

['guava', 'banana', 'cherry', 'guava', 'apple']

In [2]:
#2 Program to swap two elements in a list !
L1=["apple","banana","cherry","guava","grapes"]
L1[2]="guava"
L1[3]="cherry"
L1

['apple', 'banana', 'guava', 'cherry', 'grapes']

In [3]:
#3 Swap elements in String list 1
A="hello world"
L1=list(A)
L1[0:5],L1[5],L1[6:11]=L1[6:11],L1[5],L1[0:5]
L1

['w', 'o', 'r', 'l', 'd', ' ', 'h', 'e', 'l', 'l', 'o']

In [4]:
#4 Ways to find length of list !
L1=[1,2,3,4,5,6,7]
print(len(L1))

7

In [5]:
#5 Maximum of two numbers in Python !
L1=[1,2]
print(max(L1))

2

In [6]:
#6 Minimum of two numbers in Python !
L1=[1,2]
print(min(L1))

1

In [7]:
#7 Ways to check if element exists in list !
L1=[1,2,3,4]
print(1 in L1)

True

In [8]:
#8 Different ways to clear a list in Python !
#method 1
L1=["a","b","c","d"]
L1.clear()
print(L1)
#method 2
L2=[1,2,3,4,5]
del L2[:]
print(L2)

[]
[]

In [9]:
#10 Cloning or Copying a list !
L1=[1,2,3,4,5]
L2=L1.copy()
L2

[1, 2, 3, 4, 5]

In [10]:
#11 Count occurrences of an element in a list !
L1=[1,2,3,4,5,6,1,2,3,4,5,6,1,2,3,3]
print(L1.count(3))

4

In [11]:
#12 Program to find sum and average of List in Python !
L1=[1,2,3,4,11,22,33,44]
print(sum(L1))
print(sum(L1)/len(L1))

120
15.0

In [12]:
#13 Sum of number digits in List !
L1=[1,2,3,7,8,9]
print(sum(L1))

30

In [13]:
#14 Multiply all numbers in the list !
L1=[1,3,5,7,9,11,13]
product=(1*3*5*7*9*11*13)
print(product)

135135

In [14]:
#15 Program to find smallest number in a list !
L1=[11,12,13,14,15,16]
print(min(L1))

11

In [15]:
#16 Program to find largest number in a list !
L1=[11,12,13,14,15,16]
print(max(L1))

16

In [16]:
L1=[11,12,13]
m=max(L1)
L1.remove(m)
print(max(L1))

12

In [17]:
#17 Program to print even numbers in a list !
n=[1,2,3,4,5,6,7,8]
for i in n:
  if i%2==0:
    print(i)

2
4
6
8

In [18]:
#18 Program to print odd numbers in a List !
n=[1,2,3,4,5,6,7,8]
for i in n:
  if i%2!=0:
    print(i)

1
3
5
7

In [20]:
#19 Program to print all even numbers in a range !
n=[1, 2, 3, 4, 5, 6, 7, 8]
even=[num for num in n if num % 2 == 0]
print(even)

[2, 4, 6, 8]

In [22]:
#20 Program to print all odd numbers in a range !
n=[1, 2, 3, 4, 5, 6, 7, 8]
odd=[num for num in n if num % 2 != 0]
print(odd)

[1, 3, 5, 7]

In [23]:
#21 Program to count Even and Odd numbers in a List !
n=[1, 2, 3, 4, 5, 6, 7, 8]
even=[num for num in n if num % 2 == 0]
odd=[num for num in n if num % 2 != 0]
print(len(even))
print(len(odd))

4
4

In [24]:
#22 Program to print positive numbers in a list !
n=[-3,-2,-1,1,2,3]
for i in n:
  if i>0:
    print(i)

1
2
3

In [25]:
#23 Program to print negative numbers in a list !
n=[-3,-2,-1,1,2,3]
for i in n:
  if i<0:
    print(i)

-3
-2
-1

In [26]:
#24 Program to print all positive numbers in a range !
n=[-3,-2,-1,1,2,3]
positive=[num for num in n if num>0]
print(positive)

[1, 2, 3]

In [27]:
#25 Program to print all negative numbers in a range !
n=[-3,-2,-1,1,2,3]
negative=[num for num in n if num<0]
print(negative)

[-3, -2, -1]

In [28]:
#26 Program to count positive and negative numbers in a list !
n=[-4,-3,-2,-1,1,2,3,4]
positive=[num for num in n if num>0]
negative=[num for num in n if num<0]
print(len(positive))
print(len(negative))

4
4

In [29]:
#27 Remove multiple elements from a list in Python !
L1=[1,2,3,4,5,6,7,8,9]
del L1[3:]
L1

[1, 2, 3]

In [30]:
#28 Remove empty tuples from a list !
L1=[(1, 2),(),(3, 4),(5, 6)]
L1=[tuple for tuple in L1 if tuple]
print(L1)

[(1, 2), (3, 4), (5, 6)]

In [31]:
#29 Program to print duplicates from a list of integers !
L1=[1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]
L2=[]
L3=[]
for i in L1:
    if i not in L2:
        L2.append(i)
    elif i not in L3:
        L3.append(i)
print(L3)

[2, 3, 4, 5]