In [1]:
#Q1. Python program to Find the size of a Tuple

import sys

thistuple = ("A", 1, "B", 2, "C", 3)
thistuple2 = ("Delhi", "AAFT", "Noida", "Data", "Pranjali")
thistuple3 = ((1, "Creat"), ( 2, "A"), (3, "New"), (4, "Page"))

print(str(sys.getsizeof(thistuple)) + "bytes")
print(str(sys.getsizeof(thistuple2)) + "bytes")
print(str(sys.getsizeof(thistuple3)) + "bytes")

88bytes
80bytes
72bytes

In [2]:
#Q2. Maximum and Minimum K elements in Tuple

thistuple = (1, 2, 3, 4, 5, 6)

K = 2

my_result = []
thistuple = list(thistuple)
temp = sorted(thistuple)

for idx, val in enumerate(temp):
   if idx < K or idx >= len(temp) - K:
      my_result.append(val)
my_result = tuple(my_result)

print(my_result)

(1, 2, 5, 6)

In [3]:
#Q3. Create a list of tuples from given list having number and its cube in each tuple

thistuple= [1, 2, 3, 4, 5, 6]
my_result = [(val, pow(val, 3)) for val in thistuple]
print(my_result)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125), (6, 216)]

In [4]:
#Q4. Adding Tuple to List and vice â€“ versa

thistuple= [1, 2, 3, 4, 5, 6]

thistuple2 = (7, 8)

thistuple += thistuple2

print(str(thistuple))

[1, 2, 3, 4, 5, 6, 7, 8]

In [5]:
#Q5. Sum of tuple elements

thistuple = (7, 8)
print(sum(thistuple))

15

In [6]:
#Q6. Modulo of tuple elements

thistuple = (1, 2, 3, 4)
thistuple2 = (5, 6, 7, 8)

res = tuple(map(lambda x,y: x%y, thistuple, thistuple2))

print(str(res))

(1, 2, 3, 4)

In [7]:
#Q7. Row-wise element Addition in Tuple Matrix

thistuple = [[("Nothing", 3), ("but", 3)], [("Creativity", 1)], [("Creat", 5), ("thing", 1)]]

thistuple2 = [6, 7, 8]

res = [[sub + (thistuple2[idx], ) for sub in val] for idx, val in enumerate(thistuple)]

print(str(res))

[[('Nothing', 3, 6), ('but', 3, 6)], [('Creativity', 1, 7)], [('Creat', 5, 8), ('thing', 1, 8)]]

In [8]:
#Q8. Update each element in tuple list

thistuple = (10, 20, 30, 40)

thistuple2 = list(thistuple)

updated_thistuple2 = [item + 100 for item in thistuple2]

updated_tuple = tuple(updated_thistuple2)

print(updated_tuple)

(110, 120, 130, 140)

In [9]:
#Q10. Join Tuples if similar initial element

thistuple = [(43, 15), (66, 98), (64, 80), (14, 9), (47, 17)]

my_result = []
for sub in thistuple:
   if my_result and my_result[-1][0] == sub[0]:
      my_result[-1].extend(sub[1:])
   else:
      my_result.append([ele for ele in sub])
my_result = list(map(tuple, my_result))

print(my_result)

[(43, 15), (66, 98), (64, 80), (14, 9), (47, 17)]

In [10]:
#Q11. All pair combinations of 2 tuples

from itertools import product
N = 2

my_result = [ele for ele in product(range(1, N + 1), repeat = N)]

print(my_result)

[(1, 1), (1, 2), (2, 1), (2, 2)]

In [11]:
#Q12. Remove Tuples of Length K

thistuple = [(32, 51), (22,13 ), (94, 65, 77), (70, ), (80, 61, 13, 17)]

K = 2

my_result = [ele for ele in thistuple if len(ele) != K]

print(my_result)

[(94, 65, 77), (70,), (80, 61, 13, 17)]

In [12]:
#Q13. Remove Tuples from the List having every element as None

thistuple = [(2, None, 12), (None, None, None), (23, 64), (121, 13), (None, ), (None, 45, 6)]

my_result = [sub for sub in thistuple if not all(elem == None for elem in sub)]

print(my_result)

[(2, None, 12), (23, 64), (121, 13), (None, 45, 6)]

In [13]:
#Q14. Sort a list of tuples by second Item

def tuple_sort(thistuple):
   return(sorted(thistuple, key = lambda x: x[1]))
thistuple = [('bill', 11), ('rick', 45), ('john', 89), ('liv', 25)]

print(tuple_sort(thistuple))

[('bill', 11), ('liv', 25), ('rick', 45), ('john', 89)]

In [14]:
#Q15. Sort Tuples by Total digits

def count_tuple_digits(row):
   return sum([len(str(element)) for element in row])

thistuple = [(32, 14, 65, 723), (13, 26), (12345,), (137, 234, 314)]

thistuple.sort(key = count_tuple_digits)

print(thistuple)

[(13, 26), (12345,), (32, 14, 65, 723), (137, 234, 314)]

In [15]:
#Q16. Elements frequency in Tuple

from collections import defaultdict

thistuple = (4, 5, 4, 5, 6, 6, 5, 5, 4)

res = defaultdict(int)
for ele in thistuple:

	res[ele] += 1

print(str(dict(res)))

{4: 3, 5: 4, 6: 2}

In [16]:
#Q17. Filter Range Length Tuples

thistuple= [(4, ), (5, 6), (2, 3, 5), (5, 6, 8, 2), (5, 9)]

i, j = 2, 3

res = [sub for sub in thistuple if len(sub) >= i and len(sub) <= j]

print(str(res))

[(5, 6), (2, 3, 5), (5, 9)]

In [17]:
#Q18. Assign Frequency to Tuples
from collections import Counter # Import the Counter object from the collections module

thistuple= [(6, 5, 8), (2, 7), (6, 5, 8), (6, 5, 8), (9, ), (2, 7)]

res = [(*key, val) for key, val in Counter(thistuple).items()]

print(str(res))

[(6, 5, 8, 3), (2, 7, 2), (9, 1)]

In [18]:
#Q19. Records with Value at K index

thistuple = [(3, 1, 5), (1, 3, 6), (2, 5, 7), (5, 2, 8), (6, 3, 0)]

ele = 3

K = 1

res = []
for x, y, z in thistuple:
	if y == ele:
		res.append((x, y, z))

print(str(res))

[(1, 3, 6), (6, 3, 0)]

In [19]:
#Q20. Test if tuple is distinct

thistuple = (11, 14, 54, 0, 58, 41)

my_result = len(set(thistuple)) == len(thistuple)

print(my_result)

True

In [20]:
#Q21. Python program to find tuples which have all elements divisible by K from a list of tuples

thistuple = [(45, 90, 135), (71, 92, 26), (2, 67, 98)]

K = 5

my_result = [sub for sub in thistuple if all(ele % K == 0 for ele in sub)]

print(str(my_result))

[(45, 90, 135)]

In [21]:
#Q22. Python program to find Tuples with positive elements in List of tuples

thistuple = [(56, 43), (-31, 21, 23), (51, -65, 26), (24, 56)]

my_result = [sub for sub in thistuple if all(elem >= 0 for elem in sub)]

print(my_result)

[(56, 43), (24, 56)]

In [22]:
#Q23.  Count tuples occurrence in list of tuples
import collections # Import the collections module to use defaultdict

Alist = [[('Mon', 'Wed')], [('Mon')], [('Tue')],[('Mon', 'Wed')] ]

res = collections.defaultdict(int)
for elem in Alist:
   res[elem[0]] += 1
print(res)

defaultdict(<class 'int'>, {('Mon', 'Wed'): 2, 'Mon': 1, 'Tue': 1})

In [23]:
#Q24. Removing duplicates from tuple

thistuple = [(11, 14), (0, 78), (33, 11), (0, 78)]

my_unique_list = list(set([i for i in thistuple]))

print(my_unique_list)

[(33, 11), (11, 14), (0, 78)]

In [24]:
#Q27. Cross Pairing in Tuple List

thistuple = [('My', 'Name'), ('Is', 'Data'), ('Hello', 'Come'), ('goodwill', 'Jill')]
thistuple2 = [('My', 'AAFT'), ('Is', 'Science'), ('Hello', 'Here'), ('a', 'b')]

thistuple.sort()
thistuple2.sort()

my_result = [(a[1], b[1]) for a, b in zip(thistuple, thistuple2) if a[0] == b[0]]

print(my_result)

[('Come', 'Here'), ('Data', 'Science'), ('Name', 'AAFT')]

In [25]:
#Q28. Consecutive Kth column Difference in Tuple List

thistuple = [(5, 4, 2), (1, 3, 4), (5, 7, 8), (7, 4, 3)]

K = 1

res = []
for idx in range(0, len(thistuple) - 1):

	res.append(abs(thistuple[idx][K] - thistuple[idx + 1][K]))

print(str(res))

[1, 4, 3]

In [26]:
#Q29. Kth Column Product in Tuple List

def prod_compute(my_val) :
   my_result = 1
   for elem in my_val:
      my_result *= elem
   return my_result

thistuple = [(51, 62, 75), (18,39, 25), (81, 19, 99)]

K = 2

my_result = prod_compute([sub[K] for sub in thistuple])

print(my_result)

185625

In [27]:
#Q30. Flatten tuple of List to tuple

thistuple = ([5, 6], [6, 7, 8, 9], [3])

res = tuple(sum(thistuple, []))

print(str(res))

(5, 6, 6, 7, 8, 9, 3)

In [28]:
#Q31. Flatten Tuples List to String

thistuple = [(11, 14), (54, 56), (98, 0), (13, 76)]

my_result = str(thistuple).strip('[]')

print(my_result)

(11, 14), (54, 56), (98, 0), (13, 76)

In [29]:
#Q32. Python program to sort a list of tuples alphabetically

def sort_tuple_vals(Mak2001):
   thistuple.sort(key = lambda x: x[0])
   return thistuple
thistuple = [("Hey", 18), ("Jane", 33), ("Will", 56),("Nysa", 35), ("May", "Pink")]

print(sort_tuple_vals(thistuple))

[('Hey', 18), ('Jane', 33), ('May', 'Pink'), ('Nysa', 35), ('Will', 56)]

In [30]:
#Q33. Combinations of sum with tuples in tuple list
from itertools import combinations # Import the combinations function from the itertools module
thistuple = [( 67, 45), (34, 56), (99, 123), (10, 56)]

res = [(b1 + a1, b2 + a2) for (a1, a2), (b1, b2) in combinations(thistuple, 2)]

print(str(res))

[(101, 101), (166, 168), (77, 101), (133, 179), (44, 112), (109, 179)]

In [31]:
#Q34. Custom sorting in list of tuples

def tuple_sort(thistuple):
   thistuple.sort(key = lambda x: x[1])
   return thistuple

thistuple = [('Will', 100), ('John', 67), ('Harold', 86), ('Jane', 35)]

print(tuple_sort(thistuple))

[('Jane', 35), ('John', 67), ('Harold', 86), ('Will', 100)]